# set autoindent
# set backup
# set backupdir ""
# set backwards
# set boldtext
set brackets "\"')>]}"
# set casesensitive
# set const
# set cut
# set fill -8
set historylog
# set matchbrackets "(<[{)>]}"
# set morespace
# set mouse
# set multibuffer
# set noconvert
# set nofollow
# set nohelp
#set nonewlines
set nowrap
# set operatingdir ""
set preserve
# set punct "!.?"
# set quickblank
# set quotestr "^([ 	]*[#:>\|}])+"
# set quotestr "> "
# set rebinddelete
# set rebindkeypad
set regexp
set smarthome
set smooth
set speller "aspell -x -c"
set suspend
set tabsize 4
# set tabstospaces
# set tempfile
# set view
# set whitespace "  "
# set wordbounds
include "~/.nano/nanorc.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/mutt.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/asm.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/vb.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/debian.nanorc"
