Package: markizano
Source: linux
Version: 1.0
Architecture: all
Maintainer: Markizano Draconus <markizano@markizano.net>
Installed-Size: 0
Depends: xclip, rsync, hexedit, nano (>= 2.2.4), nmap (>= 5.00), realpath,
  pidgin (>= 2.6), pidgin-data, pidgin-extprefs, pidgin-libnotify, pidgin-plugin-pack, pidgin-privacy-please,
  bind9, bind9-host, bind9utils, vbindiff, ia32-libs-gtk
Provides: markizano
Section: utils
Priority: standard
Homepage: http://markizano.net/
Description: This is a source control package to ensure I have all dependecies
 installed, my environment is setup correctly and other miscelaneous, but
 tedious, and repetitive tasks I must accomplish when I first touch a debian/
 Ubuntu-based system upon which I have root access (usually when I own the
 machine). Eventually, I want to have a more interactive installation that
 allows me to dynamically call for more packages depending on what kind of
 system I am using (e.g. is this mine to control and rule the world, or is
 this someone else's kingdom that needs a demolition and reconstruction?).
